language = "nix"
run = "yarn dev --port 443"

[nix]
channel = "unstable"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"


[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = false
  enabledForHosting = false
